@model IEnumerable<CourseEntity>

@{
    ViewData["Title"] = "Courses";

}




<section class="courses-page">
    <div class="container">

        <div class="top-area">
            <p><i class="fa-regular fa-house"></i>Home<i class="fa-solid fa-angles-right"></i><span>Courses</span></p>
            <div class="topic-and-search">
                <h2>Courses</h2>
                <div class="browse-and-search">
                    <a href="#">All categories</a>
                    <input placeholder="Search courses"/>
                </div>
            </div>
        </div>
        <div class="courses">
            @foreach(var course in Model)
            {
                <a href="#" class="course">
                    @if (course.IsBestseller)
                    {
                        <div class="best-seller">Bestseller</div>
                    }
                    <img src="~/Images/@course.ImageUrl" alt="" />
                    <div class="course-content">
                        <h5>@course.Title</h5>
                        <p>By @course.Author</p>
                        @if (course.DiscountPrice != null)
                        {
                            <div class="prices">
                                <h5 class="discount-price">$@course.DiscountPrice</h5>
                                <h5 class="old-price">$@course.Price</h5>
                            </div>
                        }
                        else
                        {
                            <h5 class="price">$@course.Price</h5>
                        }
                        
                        
                        <div class="length-rating">
                            <p class="length"><i class="fa-regular fa-clock"></i>@course.Hours hours</p>
                            <p class="rating"><i class="fa-regular fa-thumbs-up"></i>@course.LikesInProcent% (@course.LikesInNumbers K)</p>
                        </div>
                    </div>
                </a>
            }
        </div>


        <div class="get-started">
            <div class="left-side">
                <p>Ready to Get started?</p>
                <h1>Take Your <span>Skills</span> to the Next Level</h1>
                <button class="btn-theme">Work with us</button>
            </div>
            <img src="~/Images/illustration.svg" />
        </div>
    </div>
</section>