@model AccountDetailsViewModel

@{
    var user = await UserManager.GetUserAsync(User);
    var userCourseList = AccountService.GetUserCoursesAsList(user.Id);


}




<section class="saved-courses">
    <div class="container">
        <aside>
            <Partial name="~/Views/Shared/Partials/_ProfileInfo.cshtml" />
            <nav>
                <a id="nav-settings" class="btn-nav" asp-action="Details" asp-controller="Account"><i class="fa-regular fa-gear"></i><span>Account Details</span></a>
                <a id="nav-security" class="btn-nav " asp-action="Security" asp-controller="Account"><i class="fa-regular fa-lock"></i><span>Security</span></a>
                <a id="nav-bookmark" class="btn-nav active" asp-action="SavedCourses" asp-controller="Account"><i class="fa-regular fa-bookmark"></i><span>Saved Courses</span></a>
                <a id="nav-signout" class="btn-nav" asp-action="SignOut" asp-controller="Account"><i class="fa-regular fa-arrow-right-from-bracket"></i><span>Sign Out</span></a>
            </nav>
        </aside>
        <div class="content">
            <form class="topic-and-deleteall" method="post" asp-action="DeleteAll" asp-controller="Account">
                <h2>Saved Items</h2>
                <button class="my-delete-btn" type="submit"><i class="fa-regular fa-trash"></i>Delete all</button>
            </form>
            <div class="course-area">
               @*  <Partial name="~/Views/Shared/Partials/Components/_Course.cshtml">
                    <Partial name="~/Views/Shared/Partials/Components/_Course.cshtml">
                        <Partial name="~/Views/Shared/Partials/Components/_Course.cshtml"> *@

                            @if (userCourseList != null)
                            {

                                foreach (var course in userCourseList)
                                {
                                    <div class="course" onclick="location.href='@Url.Action("SingleCourse", "Account", new { id = course.Id })'">
                                        @if (course.IsBestseller)
                                        {
                                            <div class="best-seller">Bestseller</div>
                                        }
                                        <form method="post" asp-controller="Account" asp-action="DeleteCourse" asp-route-id="@course.Id">
                                            <button class="bookmark-btn" type="submit"><i class="fa-solid fa-bookmark"></i></button>
                                        </form>

                                        <img class="course-image" src="~/Images/@course.ImageUrl" alt="" />
                                        <div class="course-content">
                                            <h5>@course.Title</h5>
                                            <p>By @course.Author</p>
                                            @if (course.DiscountPrice != null)
                                            {
                                                <div class="prices">
                                                    <h5 class="discount-price">$@course.DiscountPrice</h5>
                                                    <h5 class="old-price">$@course.Price</h5>
                                                </div>
                                            }
                                            else
                                            {
                                                <h5 class="price">$@course.Price</h5>
                                            }


                                            <div class="length-rating">
                                                <p class="length"><i class="fa-regular fa-clock"></i>@course.Hours hours</p>
                                                <p class="rating"><i class="fa-regular fa-thumbs-up"></i>@course.LikesInProcent% (@course.LikesInNumbers K)</p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
         
            </div>
        </div>
    </div>
</section>

<script src="/js/upload.js"></script>