@model Course



<section class="single-course-page">
    <div class="top-area">
        <div class="top-area-content container">
            <div class="testarlite">
                <p class="nav-pages"><i class="fa-regular fa-house"></i>Home<i class="fa-solid fa-angles-right"></i><span>Courses</span><i class="fa-solid fa-angles-right"></i><span>@Model.Title</span></p>
                <div class="bars">
                    @if (Model.IsBestseller)
                    {
                        <div class="best-seller">Best Seller</div>
                        
                    }
                    
                    <div class="digital">Digital</div>
                </div>
                <h2>@Model.Title</h2>
                <p class="text-description">Egestas feugiat lorem eu neque suspendisse ullamcorper scelerisque aliquam mauris.</p>
                <div class="review-likes-length">
                    <p class="reviews"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i> (@Model.LikesInNumbers k reviews)</p>
                    <p class="likes"><i class="fa-regular fa-thumbs-up"></i>@Model.LikesInNumbers K likes</p>
                    <p class="course-length"><i class="fa-regular fa-clock"></i>@Model.Hours hours</p>
                </div>
                <div class="creator">
                    <img class="content-creator" src="/Images/albert-flores.svg" alt="" />
                    <div class="created-by">
                        <p class="created">Created-by</p>
                        <p class="signature">@Model.Author</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="upper-area">
        <div class="content_1 container">
            <div class="course-description">
                <h2>Course Description</h2>
                <p>Suspendisse natoque sagittis, consequat turpis. Sed tristique tellus morbi magna. At vel senectus accumsan, arcu mattis id tempor. Tellus sagittis, euismod porttitor sed tortor est id. Feugiat velit velit, tortor ut. Ut libero cursus nibh lorem urna amet tristique leo. Viverra lorem arcu nam nunc at ipsum quam. A proin id sagittis dignissim mauris condimentum ornare. Tempus mauris sed dictum ultrices.</p>
                <h3>What you'll learn</h3>
                <div class="icon-and-text">
                    <div class="circle-with-icon"><i class="fa-solid fa-check"></i></div>
                    <p>Sed lectus donec amet eu turpis interdum.</p>
                </div>
                <div class="icon-and-text">
                    <div class="circle-with-icon"><i class="fa-solid fa-check"></i></div>
                    <p>Nulla at consectetur vitae dignissim porttitor.</p>
                </div>
                <div class="icon-and-text">
                    <div class="circle-with-icon"><i class="fa-solid fa-check"></i></div>
                    <p>Phasellus id vitae dui aliquet mi.</p>
                </div>
                <div class="icon-and-text">
                    <div class="circle-with-icon"><i class="fa-solid fa-check"></i></div>
                    <p>Integer cursus vitae, odio feugiat iaculis aliquet diam, et purus.</p>
                </div>
                <div class="icon-and-text">
                    <div class="circle-with-icon"><i class="fa-solid fa-check"></i></div>
                    <p>In aenean dolor diam tortor orci eu.</p>
                </div>
            </div>
            <form method="post" asp-controller="Account" asp-action="Join" asp-route-id="@Model.Id" class="course-card">
                <h4>This course includes:</h4>
                <div class="course-includes">
                    <i class="fa-regular fa-tv-retro"></i>
                    <p>@Model.Hours hours on-demand video</p>
                </div>
                <div class="course-includes">
                    <i class="fa-regular fa-file-lines"></i>
                    <p>18 articles</p>
                </div>
                <div class="course-includes">
                    <i class="fa-regular fa-arrow-down-to-bracket"></i>
                    <p>25 downloadable resources</p>
                </div>
                <div class="course-includes">
                    <i class="fa-regular fa-infinity"></i>
                    <p>Full lifetime access</p>
                </div>
                <div class="course-includes">
                    <i class="fa-regular fa-trophy"></i>
                    <p>Certificate of completion</p>
                </div>
                <div class="prices">
                    @if (Model.DiscountPrice != null)
                    {
                        <h3>$@Model.DiscountPrice</h3>
                        <h5>$@Model.Price</h5>
                    }
                    else
                    {
                        <h5 class="no-discountprice">$@Model.Price</h5>
                    }
                    
                </div>

                <button type="submit" class="btn-theme">Join course</button>
            </form>

            
        </div>
    </div>

    <div class="lower-area">
        <div class="content_2 container">
            <div class="program-details">
                <h2>Program Details</h2>
                <div class="info-detail">
                    <div class="gray-circle">
                        <span>1</span>
                    </div>
                    <div class="program-information">
                        <h3>Introduction. Getting started</h3>
                        <p>Nulla faucibus mauris pellentesque blandit faucibus non. Sit ut et at suspendisse gravida hendrerit tempus placerat.</p>
                    </div>
                    
                </div>
                <div class="info-detail">
                    <div class="gray-circle">
                        <span>2</span>
                    </div>
                    <div class="program-information">
                        <h3>The ultimate HTML developer: advanced HTML</h3>
                        <p>Lobortis diam elit id nibh ultrices sed penatibus donec. Nibh iaculis eu sit cras ultricies. Nam eu eget etiam egestas donec scelerisque ut ac enim. Vitae ac nisl, enim nec accumsan vitae est.</p>
                    </div>
                    
                </div>
                <div class="info-detail">
                    <div class="gray-circle">
                        <span>3</span>
                    </div>
                    <div class="program-information">
                        <h3>CSS & CSS3: basic</h3>
                        <p>Duis euismod enim, facilisis risus tellus pharetra lectus diam neque. Nec ultrices mi faucibus est. Magna ullamcorper potenti elementum ultricies auctor nec volutpat augue.</p>
                    </div>
                   
                </div>
                <div class="info-detail">
                    <div class="gray-circle">
                        <span>4</span>
                    </div>
                    <div class="program-information">
                        <h3>JavaScript basics for beginners</h3>
                        <p>Morbi porttitor risus imperdiet a, nisl mattis. Amet, faucibus eget in platea vitae, velit, erat eget velit. At lacus ut proin erat.</p>
                    </div>
                    
                </div>
                <div class="info-detail">
                    <div class="gray-circle">
                        <span>5</span>
                    </div>
                    <div class="program-information">
                        <h3>Understanding APIs</h3>
                        <p>Risus morbi euismod in congue scelerisque fusce pellentesque diam consequat. Nisi mauris nibh sed est morbi amet arcu urna. Malesuada feugiat quisque consectetur elementum diam vitae. Dictumst facilisis odio eu quis maecenas risus odio fames bibendum.</p>
                    </div>
                    
                </div>
                <div class="info-detail">
                    <div class="gray-circle">
                        <span>6</span>
                    </div>
                    <div class="program-information">
                        <h3>C# and .NET from beginner to advanced</h3>
                        <p>Quis risus quisque diam diam. Volutpat neque eget eu faucibus sed urna fermentum risus. Est, mauris morbi nibh massa.</p>
                    </div>
                    
                </div>
            </div>

            <div class="creator-showcase">
                <img src="~/Images/albert-flores-big.svg" />
                <div class="creator-words">
                    <p>Learn from the best</p>
                    <h1>Albert Flores</h1>
                    <p class="creator-speach">Dolor ipsum amet cursus quisque porta adipiscing. Lorem convallis malesuada sed maecenas. Ac dui at vitae mauris cursus in nullam porta sem. Quis pellentesque elementum ac bibendum. Nunc aliquam in tortor facilisis. Vulputate eget risus, metus phasellus. Pellentesque faucibus amet, eleifend diam quam condimentum convallis ultricies placerat. Duis habitasse placerat amet, odio pellentesque rhoncus, feugiat at. Eget pellentesque tristique felis magna fringilla.</p>
                    <div class="google-meta-btns">
                        <button class="youtube-sub-btn"><i class="fa-brands fa-youtube"></i>240k subscribers</button>
                        <button class="meta-follow-btn"><i class="fa-brands fa-square-facebook"></i>180k followers</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</section>

